//
   Created by manga_000 on 25/11/2015.

extends ../layout

block scripts
    script(src='/angular/views/InversionForm/InversionForm.js')

block header
    div.page-header
        h1 Inversiones

block content
    div.col-md-8(jerp-inversion-form)