//
   Created by manga_000 on 25/11/2015.

extends ../layout

block scripts
    script(src='/angular/views/InversionesForm/InversionesForm.html')
    script(src='/angular/views/InversionesTable/InversionesTable.html')

block header
    div.page-header
        h1 Inversiones

block content
    div.col-md-8