doctype html
html
  head
    title= title

    link(rel='stylesheet' href='https://bootswatch.com/lumen/bootstrap.min.css')
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/angular-animate/angular-animate.min.js')
    script(src='/bower/angular-filter/dist/angular-filter.min.js')
    script(src='/bower/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/bower/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/angular/app.js')
    block scripts
  body(ng-app='angularJERP')
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#mainNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div#mainNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(uib-dropdown)
              a(href uib-dropdown-toggle) Contabilidad
              ul(uib-dropdown-menu)
                li: a(href='/asientos/index') Libro Mayor
                li: a(href='/inversiones/index') Inversiones
                li: a(href='/plan_cuentas/index') Plan de cuentas
    div.container-fluid
      block header
      block sidebar
      block content