<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Asiento</th>
            <th>Cuenta</th>
            <th>Debe</th>
            <th>Haber</th>
        </tr>
    </thead>
    <tbody ng-repeat="asiento in data">
        <tr>
            <th rowspan="{{asiento.items.length+1}}"><span class="label label-info">{{$index+1}}</span></th>
        </tr>
        <tr ng-repeat="row in asiento.items">
            <td>{{row.cue}}</td>
            <td>{{row.deb}}</td>
            <td>{{row.hab}}</td>
        </tr>
    </tbody>
</table>